@font-face {
  font-family: avatarFont;
  src: url(herculanum.ttf);
}

body{
	overflow: hidden;
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: avatarFont,"Segoe UI",Arial,sans-serif;
}

.displayNone{
	display: none;
}

#worldMap{
	float: left;
	width: 73.4375%;
	height: 100vh;
	background-color: red;
	background-image: url(img/worldMap.png);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding: 30px;
	overflow: hidden;
}

.mapPointer{
	width: 20px;
	border-radius: 20px;
	height: 20px;
	background-color: red;
	position: absolute;
	cursor: pointer;
}

.nationButtonsContainer{
	width: 206px;
	float: left;
}
.nationButtonsContainer:nth-child(2){
	float: right;
}
.nationButton{
	width: 206px;
	height: 210px;
	margin-bottom: 450px;
	cursor: pointer;
}

.nationButton div{
	width: 206px;
	height: 210px;
	position: absolute;
}
.nationButton .nationButtonBorder{
	background-image: url(img/nationIconBorder.png);
}
.nationButton .nationButtonDisabled{
	background-image: url(img/nationIconDisabled.png);
}

#nationButtonWaterIcon{
	background-image: url(img/nationIconWater.png);
}
#nationButtonEarthIcon{
	background-image: url(img/nationIconEarth.png);
}
#nationButtonFireIcon{
	background-image: url(img/nationIconFire.png);
}
#nationButtonAirIcon{
	background-image: url(img/nationIconAir.png);
}

#timeline{
	float: right;
	width: 26.5625%;
	height: 100vh;
	background-color: blue;
	background-image: url(img/timelineBackground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	overflow-y: scroll;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 70px;
	padding-bottom: 80px;
}
#timeline::-webkit-scrollbar {
  display: none;
}

.timelineYear{
	width: 100%;
	min-height: 5vh;
	margin-bottom: 20px;
	/*border: 1px solid black;*/
}
.timelineMonth{
	width: 100%;
	min-height: 1vh;
}
/*.timelineSpring{
	background-color: pink;
}
.timelineSummer{
	background-color: red;
}
.timelineAutumn{
	background-color: brown;
}
.timelineWinter{
	background-color: white;
}*/

.timeLineEvent{
	background-color: #e6c69d;
	padding-top: 10px;
	padding-bottom: 20px;
}

.timeLineImage{
	margin: 0px auto;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 50%;
	height: 15vh;
	border: 1px solid black;
	cursor: pointer;
}

.timeLineEvent p{
	font-size: 2vw;
	text-align: center;
}

#infoPopUp{
	position: absolute;
	background-color: #e6c69d;
	border-radius: 10px;
	border: 3px solid #BEA27B;
	width: 26%;
	height: 30vh;
	padding: 10px;
	overflow-y: scroll;
}
#infoPopUp::-webkit-scrollbar {
  display: none;
}

#infoPopUp h2{
	text-align: center;
	margin-bottom: 10px;
}

#infoPopUp p{
	text-align: left;
	font-family: "Segoe UI",Arial,sans-serif;
	margin-bottom: 15px;
}

#infoPopUpImage{
	width: 55%;
    height: 17vh;
	border: 1px solid black;
	margin: 0px auto;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}