@font-face {
  font-family: avatarFont;
  src: url(herculanum.ttf);
}

body{
	overflow: hidden;
	background-color: #E6C69D;
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: avatarFont,"Segoe UI",Arial,sans-serif;
}

.displayNone{
	display: none;
}

#leftContainer{
	float: left;
	width: 80%;
	height: 100vh;
}

#worldMap{
	height: 65vh;
	background-image: url(img/worldMap.png);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	overflow: hidden;
}

.mapPointer{
	width: 20px;
	border-radius: 20px;
	height: 20px;
	background-color: red;
	position: absolute;
	cursor: pointer;
}

#mapArrow{
	width: 50px;
	position: absolute;
	background-image: url(img/arrowUp.png);
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#infoBox{
	float: left;
	background-image: url(img/infoboxBackground.png);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 75%;
	height: 35vh;
	padding-top: 41px;
	padding-left: 60px;
	padding-right: 60px;
}
#infoText{
	overflow-y: scroll;
	height: 83%;
	width: 62%;
	float: left;
}
#infoText h2{
	font-size: 35px;
	margin-bottom: 10px;
}
#infoText p{
	margin-bottom: 5px;
	font-family: "Segoe UI",Arial,sans-serif;
}
#infoImage{
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border: 1px solid black;
	float: right;
	width: 36%;
	height: 83%;
}

#buttonsHolder{
	float: right;
	background-image: url(img/buttonboxBackground.png);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 25%;
	height: 35vh;
}
#buttonsHolder div{
	float: left;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 134px;
	height: 134px;
	cursor: pointer;
}
#buttonWater{
	margin-left: 32px;
	margin-top: 20px;
	background-image: url(img/nationbuttonW.png);
}
#buttonEarth{
	margin-left: 52px;
	margin-top: 20px;
	background-image: url(img/nationbuttonE.png);
}
#buttonFire{
	margin-left: 32px;
	margin-top: 20px;
	background-image: url(img/nationbuttonF.png);
}
#buttonAir{
	margin-left: 52px;
	margin-top: 20px;
	background-image: url(img/nationbuttonA.png);
}

#timeline{
	float: right;
	width: 20%;
	height: 100vh;
	background-color: blue;
	background-image: url(img/timelineBackground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 70px;
	padding-bottom: 70px;
}
#timelineEventsContainer{
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	background-image: url(img/timelineLine.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
#timelineEventsContainer::-webkit-scrollbar {
  display: none;
}

.timelineYear{
	width: 80%;
	min-height: 5vh;
	border-bottom: 1px solid black;
	margin-left: 10%;
	background-color: #e6c69d;
}
.timelineYearNumber{
	font-size: 14px;
    opacity: 0.6;
}
.timelineMonth{
	width: 100%;
	min-height: 1vh;
}
.timelineMonthNumber{
	font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
}

.timeLineEvent{
	padding-top: 10px;
	padding-bottom: 10px;
}

.timeLineImage{
	margin: 0px auto;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 84%;
	height: 15vh;
	border: 1px solid black;
	cursor: pointer;
}

.timeLineEvent p{
	font-size: 2vw;
	text-align: center;
}